In [125]:
import pandas as pd
import numpy as np

In [157]:
pg_df = pd.DataFrame({'report_date':['2021-01-02','','2021-01-01', '2021-03-04'],
                      'dropoff_site': ['MRF', 'MRF', 'MRF','Organics'],
                      'load_weight': [1,3,2,6],
                      'load_type': ['Cheese', 'Mac', 'Green', 'Wholesale']})

In [163]:
# mean, median, mode calculate only rows of each group.
pg_df.loc[pg_df['dropoff_site'] == 'MRF',['dropoff_site','load_weight']].groupby(['dropoff_site']).agg([pd.Series.mean, pd.Series.median, lambda x: x.mode().tolist()])

             load_weight
                    mean median <lambda_0>
dropoff_site
MRF                  2.0    2.0          1

In [70]:
# groupby auto sort the column.
pg_df[['report_date','load_weight']].groupby(['report_date']).sum()

             load_weight
report_date
                       4
2021-01-01             3
2021-01-02             1
2021-03-04             3

In [71]:
pg_df.loc[pg_df['dropoff_site'] == 'MRF','load_weight']

0    1
1    4
3    3
Name: load_weight, dtype: int64

In [72]:
# What is quantile?
pg_df.loc[pg_df['dropoff_site'] == 'MRF','load_weight'].quantile([.25,.50,.75])

0.25    2.0
0.50    3.0
0.75    3.5
Name: load_weight, dtype: float64

In [130]:
# drop row with specific condition
pg_df.drop(pg_df.loc[(pg_df['dropoff_site'] == 'MRF') 
                     & (pg_df['load_type'] == 'Mac') 
                     & ((pg_df['load_weight'] > 3) | (pg_df['load_weight'] < 2))
                    ].index)

  report_date      dropoff_site  load_weight  load_type
0  2021-01-02               MRF            1     Cheese
2  2021-01-01  ORGANICS BY GOSH            3      Green
3  2021-03-04               MRF            3  Wholesale

In [74]:
# conditional
x = -0.6

if (x > 0.5) | (x < -0.5):
    print("skewed")

skewed

In [124]:
from enum import Enum
from typing import Literal

class STRATEGY(Enum):
    STANDARD_DEVIATION = 0
    IQR = 1

def getLowerUpperLimit(dropoff_site: str, load_type: str, strategy: STRATEGY) -> tuple[float, float]:
    if (strategy == STRATEGY.IQR):
        print("IQR")
    else: ...
    print("ok")
    return 10, 10

lower_limit, upper_limit = getLowerUpperLimit('MRF', 'Organics', STRATEGY.IQR)
lower_limit, upper_limit

IQR
ok

(10, 10)

In [127]:
pd.DataFrame([1,4,3,np.nan]).skew()

0   -0.93522
dtype: float64